/Results_general_algorithm/Aggregated_results.zip
/Results_general_algorithm_cycles/Results_general_algorithm_cycles_22jul2024.zip
/Results_general_algorithm_cycles/CDB_cycles_AnalysisOfParameters.html
/Results_general_algorithm_cycles/Results_general_algorithm_cycles_17agos2024.zip
/Results_general_algorithm_cycles/Results_general_algorithm_cycles_19agos2024_completos.zip
/Results_general_algorithm_cycles/AggregatedResults_CDB_cycles.zip
/Results_general_algorithm_cycles/TotalAggregatedResults_ParameterConfiguration_CDB.csv
/Results_general_algorithm_cycles/df_summary_CM.csv
/Results_general_algorithm_cycles/df_summary_data.csv
/MixedBagging/Adapted_results/Adapted_results1en1_servidor_cortado.zip
/MixedBagging/Adapted_results/Adapted_results_22oct2024.zip
/Results_Boosting_2nov2024.zip
/Results_Boosting_3nov.zip
/MixedBagging/Adapted_results/Adapted_results_servidor_5en5_4nov24.zip
